.signup {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.signup-table tr, .signup-table td{
    border: 0px ;
}

.signup-table input {
    background-color: #F6EBDA;
    width: 80%;
    border: 0px;
    border-bottom: 1px solid #D8D8D8;
}

.signup-button {
    width: 80%;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 16px;
    padding: 10px;

    background-color: #90500E;
    font-weight: bold;
}

.already-member {
    color: black;
    text-decoration: none;
}