.head {
  height: 40px;
  margin-top: 36px;
  margin-left: 135px;
  margin-right: 99px;
  border: 0px;
  text-align: center;
}

.img-left {
  float: left;
  margin-top: 5px;
  margin-left: 4px;
}

.head-middle {
  float: left;
  height: 40px;
  margin-left: 90px;
  padding-top: 6px;
  text-align: center;
  font-size: 18px;
}

span {
  margin-left: 32px;
}

.img-right {
  float: right;
  margin-top: 6px;
  margin-left: 6px;
}

.search-box {
  font-size: 15px;
  height: 25px;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 15px;
  border: 0px;
}