.my-feedback {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

.my-feedback input[type='submit']{
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    background-color: #794612;
    color: white;
}

.my-feedback select {
    width: min-content;
    font-size: 20px;
    border: 0px;
    background-color: #F6EBDA;
}

.my-feedback img {
    width: 24px;
    margin-bottom: 6px;
}

.my-feedback textarea{
    height: 26px;
    width: 200px;
    border-radius: 6px;
    font-size: 16px;
}