.detail-table {
    width: 100%;
}

.detail-table td {
    padding: 15px;
}

.detail-table tr {
    border: 0px;
}

.detail-table td:nth-child(odd) {
    width: 200px;
}

.detail-table td:nth-child(even) {
    float: left;
    color: gray;
}