.cart-table input[type=number] {
    width: 50px;
    margin-bottom: 0.5rem
}

.cart-table td, .cart-table th {
    text-align: center;
    padding: 10px;
}
.cart-table tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.img-product {
    width: 100px;
}

.cart-table button {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.delete-btn {
    background-color: #FFD390;
    float: right;
}